<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <script type="text/javascript" src="{{ asset('assets/js/jquery.min.js') }}"></script>
	<style>
	    body {
	        background-image: url("{{ asset('assets/background.png') }}");
   	        background-repeat: repeat-y;
	        background-repeat: repeat-x;
	    }
	    .topnav {
		overflow: hidden;
		background-color: white;
		height: 80px;
	    }
	    .topnav a {
		float: left;
		color: black;
		text-align: center;
		text-decoration: none;
		font-size: 18px;
		padding: 28px 20px;
	    }
	    .topnav img {
		float: left;
	    }
	    .topnav a:hover {
		background-color: #ddd;
		color: black;
	    }
	    .topnav-right {
		float: right;
	    }
	    .logo {
	        height: 50%;
	        width: auto;
	        max-width: 185px;
	        max-height: 34px;
	        margin-top: 22px;
	        margin-left: 10px;
	    }
	    .container-style {
	        padding: 16px;
	        margin-top: 7%;
	        margin-bottom: 5%;
	        width:60%;
	        height: 40%;
	        border-radius: 15px;
	        background: white;
	    }
        </style>
    </head>
    <body>

    {% block body %}{% endblock %}
    {% block javascripts %}{% endblock %}
    </body>
</html>
